@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.font-roboto{
    font-family: "Roboto", sans-serif;
}
* {
    font-family: 'Roboto', sans-serif;
}


.custom-button{
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #458c02;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 34px;
  padding-right: 34px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
