.news {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    padding-top: 60px;
    background-color: #fafafa;
}

.news__title {
    display: inline-block;
    text-align: center;
    font-size: 2.8rem;
    line-height: 2.8rem;
    margin: 0 0 44px 0;
    color: #222222;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.news__list {
    display: flex;
    gap: 30px;
}

.news__item {
    position: relative;
    border: 1px solid #f4f4f4;
    max-width: 370px;
    background-color: #ffffff;
    overflow: hidden;
}

.news__item .icon{
    position: absolute;
    opacity: 0;
    top: 18px;
    right: 18px;
    z-index: 2;
    color: #98999d;
    font-size: 1.4rem;
    transition: all .2s linear;
    transform: scale(0.2);
    cursor: pointer;
}


.news__item:hover .icon{
    opacity: 1;
    transform: scale(1);
}
.news__item .icon:hover{
    color: #ffe1e1;
}

.news__item__text {
    padding: 12px 18px 34px 18px;
}

.news__item__text span {
    color: #b5b5b5;
    font-size: 1.5rem;
    color: #aaaaaa;
    font-weight: 400
}

.news__item__text h3 {
    color: #333333;
    font-size: 1.5rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.new__item__user {
    display: flex;
    padding: 10px 18px;
    border-top: 1px solid #f4f4f4;
    gap: 8px;
}