/* reset css */

ul,
li {
    padding: 0;
    list-style: none;
}

body {
    padding: 0;
    margin: 0;
}

* {
    font-family: "Open Sans";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input,
button {
    outline: none;
    border: none;
}

/* ////////// */

/* main */
.main {
    /* max-width: 1170px;
    width: 100%;
    margin: 0 auto; */
}

/* news */
.news {
    display: flex;
    padding: 52px 0 80px;
    background-color: #fafafa;
}

.news__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.news__title {
    font-size: 28px;
    color: #222222;
    font-weight: 600;
}

.news__list {
    width: 100%;
    display: flex;
    margin-top: 42px;
    gap: 30px;
}

.news__item {
    display: flex;
    flex-direction: column;
}

.news__foot {
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-top-width: 0;
    border-color: #f4f4f4;
    ;
    border-style: solid;
}

.news__info {
    padding: 9px 18px 48px;
}

.news__info__time {
    font-size: 15px;
    line-height: 30px;
    color: #aaaaaa;
    font-weight: 400;
}

.news__info__title {
    font-size: 15px;
    line-height: 30px;
    color: #333;
    font-weight: 500;
    font-family: "Open Sans";
    margin-top: 2px;
}

.news__user {
    display: flex;
    align-items: center;
    border-top: 1px solid #f4f4f4;
    padding: 9px 18px;
    gap: 10px;
}

/* footer  */

.footer {
    display: flex;
    flex-direction: column;
    background-color: #111111;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 84px;
}

.footer__wrapp {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.footer__info {
    display: flex;
    border-bottom: 1px solid #363636;
    margin-bottom: 28px;
    padding-bottom: 57px;
}

.footer__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__title {
    font-size: 20px;
    line-height: 30px;
    color: #dddddd;
    font-weight: 600;
    font-family: "Open Sans";
}

.footer__col_list li {
    font-size: 15px;
    line-height: 36px;
    color: #888888;
    font-weight: 600;
    font-family: "Open Sans";
    /* margin-top: 10px; */
}

.footer__col_list li:hover {
    transform: translateX(4px);
    opacity: 0.8;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.footer__col_list li:first-child {
    margin-top: 8px;
}

.footer__col:nth-child(1),
.footer__col:nth-child(4) {
    flex: 4;
}

.footer__col:nth-child(2),
.footer__col:nth-child(3) {
    flex: 2;
}

.footer__logo {
    height: 44px;
}

.footer__description {
    margin-top: 18px;
    max-width: 269px;
    font-size: 15px;
    line-height: 26px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans";
}

.footer__col_list {
    display: flex;
    flex-direction: column;
}

.footer__form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 26px;
}

.footer__input {
    width: 233px;
    height: 43px;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 15px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans";
}

.footer__btn {
    width: 127px;
    height: 43px;
    border-radius: 5px;
    background-color: #333333;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
}