@font-face {
    font-family: 'MarkMyWords';
    src: url('../fonts/mark_my_words.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-sans {
    font-family: "Open Sans";
}

