@font-face {
    font-family: 'MarkMyWords';
    src: url('./fonts/MarkMyWords.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-sans {
    font-family: "Open Sans";
}