* {
  transition: all 0.12s ease-in-out;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.header__topbar__wrapper,
.header__middle,
.header__nav,
.banner {
  max-width: 1170px;
  margin: 0 auto;
}

.header__topbar__wrapper {
  height: 48px;
  color: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.header__topbar {
  background-color: #111111;

  font-size: 15px;
  line-height: 14px;
}

.header__topbar i {
  margin-right: 8px;
}

.content--white {
  color: white;
}
.content--underline {
  text-decoration: underline;
}

.header__middle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 123px;
  border-bottom: 2px solid #e9e9e9;
}
.header__social {
  display: flex;
  font-size: 23px;
}
.header__social__icon {
  color: #222222;
  margin-right: 29px;
}
.header__social__icon:last-child {
  margin-right: 0;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.header__actions {
  display: flex;
  align-items: center;
}
.header__card {
  margin-right: 40px;
  width: 102px;
  height: 43px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #555555;
  font-weight: 700;
  font-family: "Open Sans";
}
.header__card__count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: #222222;
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Open Sans";
  margin-left: 4px;
}
.header__search,
.header__profile {
  color: #555;
  font-size: 25px;
}
.header__search {
  margin-right: 25px;
}

.header a:hover {
  color: #0081ff;
  text-decoration: underline;
  transform: scale(1.1);
}
a {
  text-decoration: none;
}

.header__nav {
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav__list {
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 62px;
}
.header__nav__item {
  display: flex;
  align-items: center;
}
.header__nav__item i {
  color: #888888;
  font-size: 14px;
  text-decoration: none !important;
}
.header__nav__link {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #222222;
  font-weight: 600;
}

/* banner */
.banner {
  position: relative;
  overflow: hidden;
}
.banner__button i {
  position: absolute;
  top: 50%;
  left: 7px;
  z-index: 100;
  color: #e9e9e9;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: white;
    color: #111111;
  }
  &:active {
    transform: scale(0.9);
  }
}
#btn-next {
  right: 7px;
  left: unset;
}
.banner__list {
  display: flex;
  transition: all 1s ease-in-out;
}
.banner__list__item {
  position: relative;
  width: 100%;
}
.banner__item__content {
  position: absolute;
  inset: 0;
}
.item__right {
  width: 50%;
  height: 100%;
  padding: 0 96px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item__subtitle {
  font-size: 24px;
  color: #666666;
  font-family: "MarkMyWords";
  margin-bottom: 8px;
}
.item__title {
  font-size: 36px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: Lato;
}
.item__desc {
  margin-top: 8px;
  font-size: 18px;
  color: #aaaaaa;
}
.item__desc__price {
  font-size: 28px;
  color: white;
  text-decoration: underline;
}

.item__actions {
  margin-top: 34px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn {
  height: 42px;
  padding: 0 8px;
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  background: transparent;
}
.item__btn {
  min-width: 118px;
}
.item__btn:nth-child(1) {
  color: white;
}
.item__btn:nth-child(2) {
  width: 145px;
  background: white;
}
